* {
	box-sizing: border-box;
}

@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	margin-top: 5px;
	margin-bottom: 5px;
}
/*Using Lato font*/
body {
  font-family: 'Lato', sans-serif;
  margin: 0 auto;
  width: 70%;
}

figure {
	margin: 0;
}

footer {
	width: 50%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

/*flex container*/
.container {
  display: flex;
  flex-wrap: wrap;
}

.row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.logo {
	width: 40%;
	height: auto;
	margin-top: 35px;
}

.logo-udacity {
	max-width: 70px;
	height: auto;
	display: block;
}

.text {
	width: 60%;
	height: auto;
	color: #2d3c49;
	margin-top: 10px;
	font-size: 150%;

}

.text-uppercase {
	text-transform: uppercase;
}

.text-right {
	text-align: right;
}

.text-thin {
	font-weight: 200;
}

.hr {
	height: 40px;
	width: 100%;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 4px solid grey;
}

.main-image {
	max-width: 100%;
	height: auto;
	display: block;
}

.featured {
	color: #7d97ad;
	margin: 30px 20px 15px 10px;
	font-size: 160%;
}

/*featured work 3 in a row*/
.work {
	width: 33.33%;
	height: auto;
	display: flex;
	justify-content: space-between;
	text-align: center;
	}

#work-image1,#work-image2,#work-image3 {
	width: 100%;
	height: 100%;
	display: block;
}

#work-image1 {
	padding: 0 10px 0 0;
}

#work-image2 {
	padding: 0 5px 0 5px;
}

#work-image3 {
	padding: 0 0 0 10px;
}

/*hover color for footer icons*/
.zocial-dribbble:hover {
	color: #EA4C89;
}

.zocial-github:hover {
	color: #F03C2E;
}

.zocial-twitter:hover {
	color: #11C1FF;
}

.zocial-linkedin:hover {
	color:#007BB5;
}

figcaption {
	margin: 5px;
	font-size: 90%;
	color: #2d3c49;
}

a {
	font-size: 90%;
}

/*space the footer icons equidistant from each other*/
.social {
	list-style: none;
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin: 0;
}

.social a {
	text-decoration: none;
	color: grey;
}

.work-link {
	text-decoration: none;
	color: blue;
}

.work-link:hover {
	text-decoration: underline;
}

/*add style for widths between 550px and 900px(iPad) using media queries*/
@media (max-width: 900px) and (min-width: 551px)  {

	body {
		width: 80%;
		margin: 0 auto;
	}

	.container {
		display: block;
		flex-wrap: wrap;
	}

	.text {
		width: 100%;
		font-size: 90%;
	}

	.logo {
		width: 100%;
	}

	.logo-udacity {
		max-width: 40px;
		height: auto;
		display: block;
	}

	picture { 
	margin-bottom: 20px;
	 }

	.hr {
	height: 20px;
	}

	.text-right {
		text-align: left;
	}

	/*increase the width from 33.33% to 50%*/
	.work {
		width: 50%;
	}

	/*add padding to make the featured work articles a bit smaller than the main image in smaller devices*/
	#work-image1,#work-image2,#work-image3 {
	padding: 15px;
	}

	.featured {
		font-size: 110%;
	}
}

/*add style for less than 550px width(Nexus 5) using media queries*/
@media (max-width: 550px) {

	body {
		width: 95%;
		margin: 0 auto;
	}

	.container {
		display: block;
		flex-wrap: wrap;
	}

	.row {
		display: block;
		flex-wrap: wrap;
	}

	.text {
		width: 100%;
		font-size: 70%;
	}

	.logo {
		width: 100%;
	}

	.logo-udacity {
		max-width: 30px;
		height: auto;
		display: block;
	}

	picture { 
	margin-bottom: 20px;
	 }

	.hr {
	height: 20px;
	}

	/*center the logo*/
	img {
		margin-left: auto;
		margin-right: auto;
	}

	/*center the title text*/
	.text-right {
		text-align: center;
	}

	/*make works to display one by one in small screen*/
	.work {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}

	#work-image1,#work-image2,#work-image3 {
	padding: 10px;
	}

	.featured {
		font-size: 110%;
	}
}
